/*----- Global --------*/
* {
	box-sizing: border-box;
}

/*----- Type Selectors --------*/
h3{
    text-transform: uppercase;
    padding: 0 1em;
    font-size: medium;
}
h2{
    font-size: .5em;
}
h1{
    font-size: .8em;
}
/*----- Class Selectors --------*/
.svg {
   width: 45%; 
   padding: 0;
}
.nav, .traffic-nav{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.social-stats{
    display: flex;
    flex-direction: column;
}
.social-container{
    border: 1px solid lightgray;
    background-color: #eeeeee;
    margin: .5em 1em;
}
.traffic-nav{
    padding: 0;
}
a{
    text-decoration: none;
}
.traffic-nav li{
    margin: 0 auto;
}
.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" "nav" "main";
}
header{
    grid-area: "header";
    background-color: #7477bf;
    display: flex;
}
nav{
    grid-area: "nav";
    background-color: #4e4c72;
}
main{
    grid-area: "main";
    background-color: white;
}
.headline{
    margin-right: auto;
}
.profile-image{
    border-radius: 25px;
    height: 35px;
    width: 35px;
}
/*----- ID Selectors --------*/
.bell{
    width: 25px; 
    padding: 0;
}
section{
    border-bottom:1px lightgray solid;
    padding-bottom: .5em;
}