/*----- Global --------*/
* {
	box-sizing: border-box;
    line-height: 1.1;
}

/*----- Type Selectors --------*/
h2{
    font-size: .8em;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h1{
    font-size: .8em;
}
p, h3{
    margin: 0;
}
header{
    grid-area: header;
    background-color: #7477bf;
    display: flex;
    padding: .5em;
    color: white;
}
svg {
    fill: white;
}
nav{
    grid-area: nav;
    background-color: #4e4c72;
}
ul{
    padding: 0;
    margin: .5em auto;
}
a{
    color: #7477bf;
    text-decoration: none;
}
/*----- Class Selectors --------*/
.social-text p{
    color: #7477bf;
}
.nav, .traffic-nav, .settings-button, .second-header{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.media-wrapper, .members-container, .activity-container, .traffic-header, .message-user, form, .settings, .lower-form{
    display: flex;
    flex-direction: column;
}
.settings-button{
    justify-content: space-between;
}
.lower-form{
    margin-top: auto;
}
.svg-container{
    width: 33px;
    height: 33px;
    margin: auto .8em;
}
.social-text{
    margin: 1em 0;
}
.social-image{
    margin: auto 1em;
    width: 65px;
    height: 65px;
}
#social-number{
    font-size: 40px;
    color: black;
}
.dashboard{
    font-size: 19px;
}
#save, #cancel{
    width: 48%;
}
.social-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid lightgray;
    border-radius: 6px;
    background-color: whitesmoke;
    width: 100%;
    align-items: center;
}
#bell-button{
    width: 30px;
}
.social-container, .form-field, .form-area, .button-primary, .button-disabled{
    margin-top: .8em;
}
.traffic-nav {
    padding: 0;
    margin: 1em auto;
}
.nav{
    justify-content: center;
}
.traffic-nav-link{
    text-decoration: none;
    padding: 0 .5em;
}
#notifications {
    background-color: #b8ef1b;
    border-radius: 360px;
    height: 7px;
    width: 7px;
    margin-left: 2em;
    margin-right: .5em;
  }
.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header" "nav" "main";
}
.main{
    grid-area: main;
    background-color: white;
    display: grid;
}
.headline{
    margin-right: auto;
    font-size: 20px;
}
.main-image{
    border-radius: 25px;
    height: 50px;
    width: 50px;
    margin: 0 10px;
}
.settings-button,.second-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-image{
    border-radius: 35px;
    height: 65px;
    width: 65px;
    margin: 0 auto .25em;
}
.bell{
    width: 25px; 
    padding: 0;
}
.bell{
    width: 35px; 
    padding: 0;
}
.bell-icon {
    border-right:1px lightgray solid;
    margin-right: .25em;
}
.dashboard{
    margin: 0;
}
.social, .dashboard, .traffic, .daily, .mobile, .members, .activity, .message-user, .settings {
    padding: .8em;
}
section, .members-container, .activity-container{
    border-bottom:1px lightgray solid;
    padding: .8em;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}
.members-container, .activity-container{
    text-align: center;
}
.last{
    border: none;
    padding-bottom: 0;
}
button {
    background-color: #7477bf;
    color: white;
    border: none;
    border-radius: 6px;
    padding: .75em 0;
}
.form-field, .form-area {
    border-radius: 6px;
    background-color: whitesmoke;
    border: lightgray 1px solid;
    padding: .75em;
}
.form-area{
    min-height: 150px;
}
.button-disabled{
    background-color: grey;
}
.alert-banner{
    display: flex;
    background-color: #7477bf;
    justify-content: space-between;
    color: white;
    border-radius: 6px;
    padding: .75em;
    margin: .8em;
}
.tab{
    width: 90%;
    height: 50px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
}
#mobile-chart, #daily-chart, #traffic-chart{
    margin: 1em .5em;
}
h3{
    text-transform: uppercase;
    font-size: small;
    margin: .5em 0 2em;
}
#social{
    margin: 0;
}
.switch-light{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}
.switch-light p{
    margin-right: auto;
}
.switch-ios.switch-light > span{
    width: 100px;
}
.switch-ios.switch-light input:checked ~ span {
    border-color: #8e8adb;
    box-shadow: inset 0 0 0 30px #8e8adb;
}
.switch-ios.switch-light input:checked ~ span a {
border-color: #8e8adb;
}
svg:hover{
    fill: limegreen;
}
@media (min-width: 768px) {
    .grid-container{
        grid-template-columns: 7vw 1fr;
        grid-template-areas: 
        "header header"
        "nav main";
    }
    .members-text, .members-info, .activity-text{
        display: flex;
    }
    .members-text{
        width: 90%;
        justify-content: space-between;
    }
    .members-container, .activity-container{
        flex-direction: row;
        align-items: center;
    }
    .activity-text, .members-text{
        margin-left: .8em;
    }
    .members-info, .activity-text{
        flex-direction: column;
    }
    .main {
        grid-template-columns: 50%;
    }
    .traffic-header{
        flex-direction: row; 
    }
    .traffic-header ul{
        margin: 0; 
    }
    h3{
        margin-right: auto;
    }

    .media-wrapper{
        flex-direction: row;
        justify-content: space-around;
    }
    .members-container, .activity-container{
        text-align: left;
    }
    .profile-image{
        margin: 0;
    }
    .nav{
        flex-direction: column;
    }
    .svg-container{
        margin: .5em auto;
    }
    .traffic, .social, .members, .activity, .message-user, .settings, .alert, .second-header {
        grid-column: 1 / span 2;
    }
    .daily {
        grid-column: 1 / span 1;
    }
    .mobile {
        grid-column: 2 / span 1;
    }
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
    .social-container {
        width: 30vw;
    }
    nav{
        max-width: 66px;
    }
    section{
        border-right:1px lightgray solid;
    }
}
@media (min-width: 1024px) {
    .traffic, .social {
        grid-column: 1 / span 2;
    }
    .daily, .members, .message-user {
        grid-column: 1 / span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
    .members-container, .activity-container{
        height: 100px;
    }
}
